@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-unbounded);
  --font-mono: var(--font-geist-mono);
  
  /* Custom dot pattern background */
  --background-dot-pattern: radial-gradient(circle, #000000 2px, transparent 2.5px);
  --background-size-dot-spacing: 20px 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-unbounded), Arial, Helvetica, sans-serif;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 1s ease-out;
}
